.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  margin: auto;
  margin-top: 50px;
  margin-left: 5%;
}

.contactsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.addContactForm {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 30%;
  margin-right: 10%;
 }

.contactList {
  list-style-type: none;
  padding: 0;
  width: 100%;
  margin-top: 30px;
}

.contactItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.contactItem:last-child {
  border-bottom: none;
}

.contactName {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 5px;
  cursor: pointer;
}

.contactDetails {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  z-index: 1000;
}

.contactDetails p {
  margin-bottom: 10px; 
  margin-top: 10px; 
 }

.contactHeader {
  display: flex;
  align-items: center;
  gap: 15px; /* Espaço entre o nome e a imagem */
}
 
.trashIcon {
  width: 20px; 
  height: auto;
}

.searchInput {
  margin-top: 10px;
  margin-bottom: 10px;
}

.searchContainer {
  display: flex;
  align-items: center;
}
.clearSearchButton{
  background-color: #f0f0f0;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 5px;
  border-radius: 50%; 
  width: 25px; 
  height: 25px; 
  display: flex; 
  align-items: center;
  justify-content: center; 
}

.confirmDeleteModalOverlay {
  position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.05); /* Fundo escurecido */
    backdrop-filter: blur(5px); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Garante que o modal apareça acima de outros elementos */
}

/* Estilos para o modal de confirmação */
.confirmDeleteModal {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px; 
    text-align: center;
    margin-bottom: 3rem;
}

/* Estilos para o botão de confirmação */
.confirmButton {
    background-color: #f44336; /* Botão de confirmação em vermelho */
    color: white;
    margin: 20px 10px 0px 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilos para o botão de cancelamento */
.cancelButton {
    background-color: #4CAF50; /* Botão de cancelamento em verde */
    color: white;
    margin: 20px 10px 0px 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
 